body {
  padding: 50px;
  font-family: 'Noto Sans JP', sans-serif;
}

a {
  color: #00B7FF;
}

.btn {
  border: solid 1px;
  padding: 10px;
  width: 100px;
  text-align: center;
  cursor: pointer;
}

.title {
  border-bottom: solid 1px;
}
